<table class="table table-bordered table-condensed table-striped table-small-font">
  <thead>
    <tr>
      <th ng-repeat="columnName in variantTableViewCtrl.columnNames">
        {{ columnName }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="variantCall in variantTableViewCtrl.currentVariants track by $index">
      <td ng-repeat="variantColumn in variantCall track by $index">
        {{ variantColumn }}
      </td>
    </tr>
  </tbody>
</table>
<ul uib-pagination
  ng-model="variantTableViewCtrl.currentPage"
  class="pagination-sm btn-block"
  total-items="variantTableViewCtrl.tableSize"
  items-per-page="variantTableViewCtrl.pageSize"
  max-size="10"
  boundary-link-numbers="true"
  ng-change="variantTableViewCtrl.onPageChange()"
></ul>
