/* see https://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#viper-logo {
  margin-top: -10px;
  margin-left: -10px;
}

.variant-well-header {
  margin-top: 0;
}

.table-small-font {
  font-size: 12px;
}
