<h4>Filters:</h4>

<div class="row" ng-repeat="filterChunk in ::columnFiltersCtrl.filters | chunkBy: 6">

    <div class="col-md-2" ng-repeat="filter in ::filterChunk">

      <div class="panel panel-default">
        <div class="panel-heading">
          {{ ::filter.columnName }}
        </div>
        <div class="panel-body">
          <div ng-if="::(filter.columnType == 'NUMERIC' || filter.columnType == 'NUMERIC_COLLECTION')">

            <rzslider
              rz-slider-options="{
                floor: filter.possibleMin,
                ceil: filter.possibleMax,
                precision: 2,
                step: (filter.possibleMax - filter.possibleMin) / 1000,
                hideLimitLabels: true
              }"
              rz-slider-model="filter.selectedMin"
              rz-slider-high="filter.selectedMax"></rzslider>

          </div>
          <div ng-if="::(filter.columnType == 'STRING' || filter.columnType == 'STRING_COLLECTION')">
            <ui-select ng-model="filter.allowedValues" multiple>
              <ui-select-match placeholder="Search for values...">{{ $item }}</ui-select-match>
              <ui-select-choices
                repeat="possibleChoice in columnFiltersCtrl.possibleValues[filter.columnName] | filter: $select.search"
                refresh="columnFiltersCtrl.onSelectRefresh($select.search, filter.columnName)"
                refresh-delay="250">
                <div ng-bind-html="possibleChoice | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>

    </div>
</div>

<button type="button" class="btn btn-primary" ng-click="columnFiltersCtrl.applyFilters()">Apply filters</button>
<hr>
